.navbar {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

.navbar a:hover {
    background-color: #ddd;
}

.btn-login{
    justify-content: center;
}

.sign-in {
    background-color: #007bff;
    color: #fff;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 350px;
}
.sign-in:hover {
    background-color: #0056b3;
}

.sign-up {
    background-color: #28a745;
    color: #fff;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
.sign-up:hover {
    background-color: #218838;
}
