.page-not-found{
    text-align: center;
    margin-top: 50px;
}

.page-not-found h1{
    font-size: 50px;
    font-weight: bold;
    color: #dc3545;
}

.page-not-found p{
    font-size: 20px;
    font-weight: bold;
    color: #dc3545;
}
